
/*=========================================================
    colors const
===========================================================*/
$san-marino-color:#446CB3; 		//-> blue color
$white-smoke-color:#ECECEC; 	//-> grey/white color
$alice-blue-color:#E4F1FE; 		//-> blue nearer white
$ebony-clay-color:#22313F;		//-> heavy dark blue
$ming-color :#336E7B;			//-> green
$california-color : #F89406;	//-> orange
$jordy-color: #89C4F4; 			//-> blue (light)
$monza-color: #CF000F;			//-> red
$background-color-grey: #F2F2F2; //-> white grey 


$panel-defaut-panel-heading-text-color:#212121;
$panel-defaut-panel-heading-background-color:#fff;//#eee;
$panel-defaut-panel-heading-border-color:#eee;//#fff;

// ======================== Fundation Card ===============================
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$global-radius: 0;
$global-padding: 1rem;
$global-margin: 1rem;
$global-padding: 1rem;

$card-background: $white;
$card-font-color: $body-font-color;
$card-divider-background: $light-gray;
$card-border: 1px solid $light-gray;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;
$card-margin: $global-margin;

/*=========================================================
    fonts const
===========================================================*/
$font-family-roboto:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

$input-font-size:13px;

/*=========================================================
    common
===========================================================*/
$body-padding-top:50px;
$body-padding-bottom:20px;
$body-height:100%;
$body-backgrounf-color:#2C3E50;



$container-width:100%;


